/* ! Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  z-index: 20;
}

.menu {
  width: 100%;
  text-align: right;
}

.menu li {
  display: inline-block;
}

.menu li a {
  position: relative;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 6px 30px;
  color: #000;
  border-radius: 20px;
}


.menu li a::before, .menu li a::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.menu li a:hover,
.menu li a.active {
  color: rgb(206, 56, 36);
  font-weight: 600;
  transition: 0.1s;
}


.menu li a:hover::after,.menu li a.active::after{
  border-bottom: 4px solid #a7d9f0;
  border-top: 4px solid #a7d9f0;
  /*transform: skewX(-50deg);*/
}

.mobile {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
  pointer-events: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 15px 30px;
  }
}


@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    background: rgb(186, 201, 208);
    height: 100vh;
    padding-top: 100px;
    text-align: left;
  }

  .menu li {
    display: block;
    padding-top: 25px;
  }

  .menu li a {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
  }
  .menu li a:hover::after,.menu li a.active::after{
    border-top: 0;
    border-bottom: 0;
  }



  .menu--open {
    right: 0%;
  }

  .menu--closed {
    right: -100%;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 999;
  }

  .fa-bars {
    color: #000;
    font-size: 40px;
  }
}
